 /* Reset et base */
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }


    body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-color: #0A0B17;
      color: #40E0D0;
      line-height: 1.6;
      scroll-behavior: smooth;
    }
    a {
      color: #3399FF;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
      color: #1976D2
    }
    main {
      max-width: 900px;
      margin: 0 auto;
      padding: 0 1rem;
    }
    header {
      padding: 3rem 1rem 4rem;
      text-align: center;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    footer {
      margin-top: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-size: 0.9rem;
      color: #AAB2BF;
      padding-bottom: 2rem;
    }
    header h1 {
      font-size: 3rem;
      color: #40E0D0;
      margin-bottom: 1rem;
    }
    header p {
      font-size: 1.25rem;
      color: #AAB2BF;
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
    }

    #about p, #contact p {
      line-height: 40px;
      color:#AAB2BF;
    }
    .btn-primary {
      display: inline-block;
      margin-top: 2rem;
      padding: 0.75rem 1.5rem;
      background-color: #3399FF;
      color: white;
      font-weight: bold;
      border: 1px solid #3399FF;
      border-radius: 4px;
      cursor: pointer;
      box-shadow: 0 4px 8px rgba(52, 152, 219, 0.5);
      transition: background-color 0.3s ease, box-shadow 0.3s ease;
    }
    .btn-primary:hover {
      background-color: #1976D2;
      box-shadow: 0 6px 12px rgba(25, 118, 210, 0.7);
    }

    /* Section titres */
    section {
      margin-bottom: 5rem;

    }
    section h2 {
      font-size: 2.5rem;
      color: #40E0D0;
      border-bottom: 2px solid #00FA9A;
      padding-bottom: 0.25rem;
      margin-bottom: 2rem;
      
    }
    section.visible h2 {
      opacity: 1;
      transform: translateY(0);
    }


    section.visible .skill-item {
      opacity: 1;
      transform: translateY(0);
    }

    /* Projets */
    .projects-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
      gap: 2rem;
    }

    .project-card {
      background: #122240;
      border-radius: 8px;
      box-shadow: 0 0 12px rgba(82, 196, 184, 0.63);
      padding: 1.5rem;
      display: flex;
      flex-direction: column;
      transform: translateY(20px);
      transition: opacity 0.6s ease, transform 0.6s ease;
    }

    .card{
      display: flex;
      flex-direction: column;
      align-items: center;
       opacity: 1;
      background: #122240;
      border-radius: 8px;
      box-shadow: 0 0 12px rgba(82, 196, 184, 0.63);
      padding: 1.5rem;
      
    }
    section.visible .project-card {
      opacity: 1;
      transform: translateY(0);
    }
    .project-card h3 {
      margin-bottom: 0.75rem;
      color: #40E0D0;
    }
    .project-card p {
      flex-grow: 1;
      margin-bottom: 1rem;
      color: #AAB2BF;
    }
    .project-links a {
      margin-right: 1rem;
      font-weight: bold;
      color: #3399FF;
    }
    .project-links a:hover {
      color: #1976D2;
    }

    /* Contact */
    .contact-info {
      background: #122240;
      padding: 1.5rem;
      border-radius: 6px;
      max-width: 400px;
      margin: 0 auto;
      box-shadow: 0 0 12px rgba(82, 196, 184, 0.63);
      text-align: center;
    }
    .contact-info p {
      margin-bottom: 0.5rem;
      color: #AAB2BF;
    }

    /* Responsive */
    @media (max-width: 600px) {
      header h1 {
        font-size: 2.2rem;
      }
      .skills-categories {
        gap: 30px;
        padding-left: 10vw;
        padding-right: 10vw;
        flex-wrap: wrap;
      }
      .skill-category {
        min-width: 100%;
        margin-bottom: 3rem;
      }
      .boxes-row {
        justify-content: center;
      }
    }
    #mouseBlur {
    position: fixed;
    pointer-events: none; /* pour ne pas gêner les clics */
    top: 0;
    left: 0;
    width: 500px;
    height: 500px;
    background: rgba(29, 233, 182, 0.05); /* vert menthe clair transparent */
    border-radius: 50%;
    filter: blur(50px);
    transform: translate(-50%, -50%);
    transition: duration 0.2s ease;
    transition-duration: 2s;
    z-index: 10000;
  }

  .disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  .container-badge {
    margin-bottom: .9rem;
  }

  .badge {
    display: inline-block;
    background-color: #0A0B17;
    color: #64FFDA;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    font-size: 0.75rem;
    font-weight: bold;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }
 

  #loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #122240;
    z-index: 100000;
  }

  #progress-bar {
    width: 0;
    height: 100%;
    background-color: #64FFDA;
    transition: width 0.4s ease;
  }

  #content {
    opacity: 0;
    transition: opacity 1s ease;
  }

  #content.visible {
    opacity: 1;
  }

  #contact {
    margin-bottom: 14rem;
  }

  .hidden-section {
  display: none !important;
}
.visible {
  opacity: 1 !important;
}


.bubble-container {
  position: relative;
  width: 100%;
  height: 60vh; /* hauteur à ajuster selon besoin */
  overflow: hidden;
}

.badge-bubble {
  position: absolute;
  background: #0A0B17;
  color: #64FFDA;
  border-radius: 40px;
  padding: 0.5rem 1.2rem;
  font-weight: bold;
  font-size: 1rem;
  box-shadow: 0 0 14px rgba(64,224,208,0.18);
  cursor: pointer;
  transition: box-shadow 0.2s;
  user-select: none;
}
.badge-bubble:hover {
  box-shadow: 0 0 24px #40E0D0;
  z-index: 10;
}

.socials {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-bottom: 1.5em;
 
}

.up {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.down {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.card1 {
  width: 80px;
  height: 80px;
  outline: none;
  border: none;
  background: #0A0B17;
  border-radius: 90px 5px 5px 5px;
  box-shadow: 0 0 14px rgba(64,224,208,0.18);
  transition: .2s ease-in-out;
}


.linkedin {
  margin-top: 1.5em;
  margin-left: 1.2em;
  fill: #64FFDA;
}

.card2 {
  width: 80px;
  height: 80px;
  outline: none;
  border: none;
  background: #0A0B17;
  border-radius: 5px 90px 5px 5px;
  box-shadow: 0 0 14px rgba(64,224,208,0.18);
  transition: .2s ease-in-out;
}

.cv {
  margin-top: 1.5em;
  margin-left: -.9em;
  fill: #64FFDA;
}

.card3 {
  width: 80px;
  height: 80px;
  outline: none;
  border: none;
  background: #0A0B17;
  border-radius: 5px 5px 5px 90px;
  box-shadow: 0 0 14px rgba(64,224,208,0.18);
  transition: .2s ease-in-out;
}

.github {
  margin-top: -.6em;
  margin-left: 1.2em;
  fill:#64FFDA;
}

.card4 {
  width: 80px;
  height: 80px;
  outline: none;
  border: none;
  background: #0A0B17;
  border-radius: 5px 5px 90px 5px;
  box-shadow: 0 0 14px rgba(64,224,208,0.18);
  transition: .2s ease-in-out;
}

.email {
  margin-top: -.9em;
  margin-left: -1.2em;
  fill: #64FFDA;
}

.card1:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #0077B7;
}

.card1:hover .linkedin {
  fill: white;
}

.card2:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #1976D2;
}

.card2:hover .cv {
  fill: white;
}

.card3:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: black;
}

.card3:hover .github {
  fill: white;
}

.card4:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #1976D2;
}

.card4:hover .email {
  fill: white;
}